{% extends 'admin.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Editer un évenement</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

{% endblock %}
