{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié.{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="title-forget-password">Mot de passe de oublié</h1>

        <div class="row justify-content-md-center">
          <div class="col col-lg-4">
            <div class="form-group">
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-forget-password" type="submit">
            Recevoir un mail
        </button>

    </form>
{% endblock %}
