{% extends 'base.html.twig' %}

{% block title %}Remettre a zero son mot de passe{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Remettre à zéro son mot de passe</h1>
        <label for="inputPassword" class="sr-only">Nouveau mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{{ token }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Envoyer
        </button>
    </form>
{% endblock %}
