{% extends 'base.html.twig' %}

{% block title %}Remettre a zero son mot de passe{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="title-reset-password"">Remettre à zéro son mot de passe</h1>

        <div class="row justify-content-md-center">
          <div class="col col-lg-4">
            <div class="form-group">
              <label for="inputPassword" class="sr-only">Nouveau mot de passe</label>
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <input type="hidden" name="token" value="{{ token }}">
            </div>
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-reset-password" type="submit">
            Envoyer
        </button>
    </form>
{% endblock %}
