{% extends 'event.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  <p class="title-calendar">Listes des événements<p>

  <div class="calendar">
    {% include '@Calendar/calendar.html' %}
  </div>

{% endblock %}
