{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <a href="{{path("app_login")}}">login</a>
    <a href="{{path("app_register")}}">register</a>
    <a href="{{path("admin")}}">admin</a>
{% endblock %}
