<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer ceci ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
