{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Editer l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
{% endblock %}
