{% extends 'admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Editer un utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
{% endblock %}
